* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    list-style-position: inside;
}

textarea {
    resize: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.container1 {
    width: 65%;
    margin: 0 auto;
}

header {
    background-image: url(img/a.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    min-height: 800px;
    height: 100vh;
}

.mobile_btn {
    display: none;
    font-size: 25px;
}

nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav .container_1 {
    width: 80%;
    margin: 0 auto;
}

nav .container_1 .row {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

nav a {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    padding: 17px;

    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar .icons {
    box-sizing: border-box;
    padding: 0 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
}

.navbar .icons i {
    font-size: 14px;
    padding: 0 7px;
}

.rows {
    padding: 0 15px;
    transform: translateY(50%);
}

.row2>h5 {
    color: #b19777;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-family: 'Teko', sans-serif;
}

.row2>h1 {
    color: #fff;
    font-size: 65px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
}

.row2 p {
    color: #eee;
    font-size: 15px;
    font-weight: 500;
    line-height: 2;
    margin: 10px 0 0;
    font-family: 'Poppins', sans-serif;
}

.container1 .fill-up-effect a {
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    letter-spacing: 2px;
    font-family: 'Teko', sans-serif;
    color: #fff;
    padding: 10px 15px;
}

.fill-up-effect:hover a {
    color: #b19777;
}

/* section 1 */
section.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding-top: 150px;
    flex-wrap: nowrap;
}

.img_part {
    background-image: url(img/exp.jpg);
    min-width: 450px;
    height: 650px;
    margin: 0 30px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.cont_part {
    margin: 20px;
}

.cont_part1 {
    color: #B19777;
    font-size: 14px;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    left: 57px;
    letter-spacing: 4px;
    margin-bottom: 15px;
    position: relative;
}

.cont_part1::before {
    content: "";
    width: 50px;
    height: 1px;
    background: #b19777;
    position: absolute;
    left: -60px;
    bottom: 200px;
    top: 50%;

}

.cont_part2 {
    font-family: 'Playfair Display';
    line-height: 1.4;
    font-weight: 600;
    font-size: 40px;

}

.cont_part3 {
    color: #888;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.items {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.item span {
    color: #B19777;
    font-size: 80px;
    font-family: 'Teko', sans-serif;
}

.item h6 {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;

}

/* sec 2 */
.sec2 {
    background-color: #F8F4F3;
    padding-bottom: 50px;
}

.sec2 .title {
    margin-top: 120px;
}

.sec2 .title h6 {
    color: #b19777;
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 10px;
    font-family: 'Teko', sans-serif;
    text-align: center;
    padding-top: 100px;

}

.sec2 .title h4 {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding-bottom: 70px;

}

.boxes {
    display: flex;
    justify-content: space-between;
    background-image: url(img/2.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

}

.box:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.box {
    padding: 60px 40px;
    height: 100%;
    background-color: #fff;
    border: 1px solid #eee;
    transition: all .4s;
    width: 25%;
}

.boxes .box h2 {
    font-size: 60px;
    margin-bottom: 10px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    -webkit-text-stroke: 1px #b19777;
    color: #fff;

}

.boxes .box:hover h2 {
    color: transparent;
    transition: .2s;
}

.boxes .box h6 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    font-family: 'poppins', sans-serif;
    padding-bottom: 30px;

}

.boxes .box:hover h6 {
    color: #fff;
}

.boxes .box p {
    color: #8A8A8A;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    font-family: 'poppins', sans-serif;
    padding-bottom: 20px;
}

.boxes .box a {
    color: #191514;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Teko', sans-serif;
    text-decoration: none;
    background-color: transparent;
}

.boxes .box:hover a {
    color: #b19777;
}

.img_part {
    position: relative;
}

.years {
    position: absolute;
    left: 70px;
    bottom: 70px;
    z-index: 1;
}

.years h2 {
    font-size: 140px;
    font-weight: 700;
    background: url(../img/exp.jpg) no-repeat;
    background-position: 18% 65%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    font-family: 'Teko', sans-serif;
}

.img_part:after {
    content: '';
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 0;
}


/* sec3 */
.sec3_title h6 {
    color: #b19777;
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 10px;
    font-family: 'Teko', sans-serif;
    text-align: center;
    padding-top: 30px;
}

.sec3_title h4 {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'playfair display'sans-serif;
    text-align: center;
    padding-bottom: 30px;
}

.img_part .since {
    position: absolute;
    right: 80px;
    top: 80px;
    color: #b19777;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    z-index: 10;
    letter-spacing: 5px;
    line-height: 21px;
}

.since_num {
    font-size: 22px;
}


/* galery */
.sec3 .galerry {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.sec3 .galerry .picture {
    width:  calc((100% - 60px)/2);;
    margin: 10px;
}
.pic {
    width: 100%;
    height: 440px;
    position: relative;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.pic1 {
    background-image: url(img/01.jpg);
}

.pic2 {
    background-image: url(img/02.jpg);
}

.pic3 {
    background-image: url(img/03.jpg);
}

.pic4 {
    background-image: url(img/04.jpg);
}

.line_left {
    position: absolute;
    width: 0;
    height: 0;
    background-color: #fff;
    top: 0%;
    left: 0%;
}

.line_top {
    position: absolute;
    width: 0;
    height: 0;
    background-color: #fff;
    top: 0%;
    left: 0%;
}

.pic:hover {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.pic:hover .line_top {
    top: 44%;
    left: 50%;
    width: 1px;
    height: 50px;
    transform: translate(-44% -50%);
    animation-name: example;
    animation-duration: 0.5s;
}

.pic:hover .line_left {
    top: 50%;
    left: 47%;
    width: 50px;
    height: 1px;
    transform: translate(-50% -47%);
    animation-name: example1;
    animation-duration: 0.5s;
}

.galerry .line-pattern1 {
    background-image: url("img/line-pattern.png");
    padding: 20px 20px;
    width: 100%;
    height: 69px;
    background-position: center;

}

.sec3 .galerry .line-pattern1 h1 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    font-family: 'poppins', sans-serif;
}

.sec3 .galerry .line-pattern1 h3 {
    color: #777;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.sec3 .menu {
    background-image: url(img/line-pattern1.png);
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.mn:before {
    content: "\2022";
    color: #B69E80;
    font-weight: 900;
    display: inline-block;
    width: 30px;
    font-size: 20px;
    position: absolute;
    left: -15px;
    top: 6px;
}

.sec3 .menu .mn,
.mnu {
    font-weight: 600;
    font-size: 13px;
    font-family: 'poppins', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.mnu {
    color: #B69E80;
}

/* Section 3/ */


/* Section 4 */
.sec4 .central {
    background-image: url(img/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    background-attachment: fixed;


}

.sec4 .central .text h6 {
    color: #b19777;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Teko', sans-serif;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.sec4 .central .text h1 {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

.sec4 .central .text {
    text-align: center;
    padding-top: 50px;
}

.sec4 .circules {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 100px;
}

.sec4 .circules .circule {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    font-family: 'Teko', sans-serif;
    position: relative;
    min-width: 10vw;


}

.sec4 .circules .circule span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.circule_border {
    width: 18vw;
    height: 18vw;
    border: 5px solid #b19777;
    border-radius: 50%;
    padding: 30px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circule_text {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'poppins', sans-serif;
    text-align: center;
    margin-top: 20px;
    /* width: 18vw; */
}

.sec4 .circules .circule_item {
    min-width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Section 4end/*/


/* Section 5 */
.sec5 .text h6 {
    color: #b19777;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 10px;
    padding: 120px 0 0;
}

.sec5 .text h1 {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'playfair display', sans-serif;
    margin-bottom: 60px;
}

.sec5 .text {
    text-align: center;
}

.sec5 .texts {
    display: flex;
    justify-content: space-evenly;

}

.smtxt {
    border: 10px solid #f7f7f7;
    padding: 50px 40px 40px 40px;
    position: relative;
    margin: 0 30px;

}

.texts .smtxt p {

    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    color: #333;
    line-height: 2;
}

.smtxt span {
    position: absolute;
    right: 50px;
    top: -65px;
    margin: 30px;
}

.smtxt span img {
    height: 60px;
    width: 80px;
    background-color: #fff;

}

.smtxt .triangle {
    position: absolute;
    bottom: -47px;
    left: 70px;
    transform: rotate(45deg);
}

.smtxt .triangle i {
    font-size: 65px;
    color: #f7f7f7;


}
.author {
    margin-bottom: 30px;
}
.author .img {
    margin: 30px;
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.author .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;

}

.author p {
    font-size: 18px;
    font-weight: 600;
    color: #191514;
    font-family: 'Poppins', sans-serif;

}

.author h6 {
    font-size: 13px;
    font-weight: 600;
    color: #b19777;
    font-family: 'Poppins', sans-serif;

}

.img_text {
    margin-top: 50px;
}

.author {
    display: flex;

}

/* Section 5/ */


/* section 6 */
.sec6 .sec_text h6 {
    color: #b19777;
    font-weight: 400;
    font-size: 22px;
    font-family: 'Teko', sans-serif;
}

.sec_text {
    width: 100px;
    height: 100px;

}

.sec6 {
    background-image: url(/img/dots.png);

}

.sec6 .sec_text h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;

}

.sec6 .sec_text p {
    color: #888;
    font-size: 15px;
    font-weight: 400;
    line-height: 2;
    font-family: 'Poppins', sans-serif;
}

.sec6 .backimg {
    padding: 100px 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.sec6 .container {
    width: 80%;
    margin: 0 auto;
}

.sec6 .sec_text {
    width: 40vw;
    padding-left: 100px;
}

.sec6 .pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60vw;
}

.pct_text {
    position: relative;
}

/* .pct_text img:hover {
    background-size: 110%;
} */

.pct_text .img1 img{
    width: 100%;
}

.pct_text .img2 {
    width: 100%;

}

.pct_text .conts {
    width: 37px;
    position: absolute;
    top: 0px;
    left: -40px;
    background-color: #fff;
    padding: 15px 4px;
    opacity: 0;
    transition: all 0.5s ease;

}

.pct_text .conts a {
    color: #b19777;

}

.pct_text .conts i {
    padding: 7px;
}
.pct_text:hover:hover {
    cursor: pointer;
}
.pct_text:hover .conts {
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;

}

.pictures .pct_text p {
    font-size: 18px;
    margin-bottom: 2px;
    line-height: 1.4;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.pictures .pct_text h3 {
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #777;
}

/* section 7 */
.sec7 {
    padding: 100px 0;
}

.sec7 .part_tt .part_text h6 {
    color: #b19777;
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 10px;
    font-family: 'Teko', sans-serif;

}

.sec7 .part_tt .part_text p {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Playfair Display', sans-serif;
}

.sec7 .part_tt {
    text-align: center;
}

.part_tt2 {
    display: flex;
    justify-content: space-between;

}

.pctx1 {
    background-image: url(img/b.jpg);
    transition: 1s;

}

.pctx1:hover {
    background-size: 110%;
    transition: 1s;
}

.pctx2 {
    background-image: url(img/c.jpg);
    transition: 1s;

}

.pctx2:hover {
    background-size: 110%;
    transition: 1s;
}

.pctx3 {
    background-image: url(img/d.jpg);
    transition: 1s;

}

.pctx3:hover {
    background-size: 110%;
    transition: 1s;
}

.pctx {
    width: calc((100%-120px)/3);
    height: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    margin: 20px;

}

.part_tt2 .tx {
    position: absolute;
    background-color: #fff;
    width: 90%;
    right: 0;
    top: 78%;
    padding: 40px 30px 10px;
}

.part_tt2 .tx a {
    text-decoration: none;
}

.asmith a {
    font-size: 11px;
    color: #777;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    margin-right: 10px;
}

.tx .tx2 {
    font-size: 17px;
    line-height: 1.7;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: #333;
    /* text-decoration: none; */
    margin-top: 90px;
}

.tx .tx3 {
    font-size: 16px;
    font-family: 'Teko', sans-serif;
    color: #b19777;
    font-weight: 400;
    border-bottom: 1px solid #b19777;
}

.tx .tx3:hover {
    border-bottom: none
}

/*Section 8*/
.sec8 {
    width: 100%;
    display: flex;
    padding-top: 150px;
    position: relative;

}

.left_part {
    background-image: url(img/f.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 650px;


}

.right_part {
    width: 70%;

}

.right_part .map {
    height: 650px;
    color: rgba(0, 0, 0, 0.9);
}

.fortitle h6 {
    color: #b19777;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 10px;

}

.fortitle {
    padding: 30px;
}

.fortitle p {
    font-weight: 500;
    font-size: 40px;
    font-family: 'Playfair display', sans-serif;
    letter-spacing: 2px;

}

form {
    display: flex;
    flex-flow: column;
    width:100%;
    height: 100%;
}

.form {
    min-width: 450px;
    position: absolute;
    left: 20%;
    top: 50px;
    z-index: 30;
    padding: 60px 30px;
    background: #fff;
    -webkit-box-shadow: 0px 10px 30px rgb(0 0 0 / 5%);
    box-shadow: 0px 10px 30px rgb(0 0 0 / 5%);
    border: 10px solid #f7f7f7;
    border-radius: 5px;
}

form input,
textarea {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border: none;
    background-color: #F7F7F7;
    font-size: 20px;
    color: #C9C9C9;
}

/* buttun hover fill up effect */
.btn_last {
    position: relative;
    overflow: hidden;
    z-index: 4;
    color: #fff;
    padding: 10px 20px;
    background: #b19777;
    display: inline-block;
    margin-top: 20px;
    transition: color 500ms;
    border: 2px solid #b19777;
    width: 220px;
    height: 70px;
    font-size: 25px;
    font-family: 'Teko', sans-serif;
}

.btn_last::before {
    position: absolute;
    bottom: 130%;
    right: -25%;
    width: 150%;
    height: 150%;
    content: ' ';
    display: block;
    background-color: #fff;
    color: #b19777;
    transition: bottom 0.7s;
    animation: 400ms linear infinite fillUp1;
    z-index: -1;
}

.btn_last::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    display: block;
    background-color: transparent;
    z-index: -2;
    color: #b19777;

}

.btn_last:hover::before {
    bottom: -30%;
    animation-play-state: running;
    color: #b19777;
}

.btn_last:hover {
    color: #b19777;
}

@keyframes fillUp1 {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(-7deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    75% {
        transform: rotateZ(7deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

/* buttun hover fill up effect end */

/* Footer */
footer {
    background-color: #252531;
}

.foot_cont {

    padding: 100px 100px 0 100px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.ll_part {
    display: flex;
    justify-content: space-around;
}

.lmnu ul li {
    list-style: none;
}

.lmnu span {
    color: #b19777;
    margin-right: 2px;
}

.first_footer {
    display: flex;
}

.first_item {
    width: 25%;
}

.second_item {
    width: calc(50% / 3);
    margin-right: 20px;
}

.logg img {
    width: 150px;
    margin: 20px 0;
}

.last_text {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #888;
    font-weight: 400;
    line-height: 2;
    margin: 20px 0;
}

.icon4 i {
    /* padding: 17px; */
    text-decoration: none;
    color: #fff;
    transition: 0.5s all;

}

.icon4 a {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: all .4s;
    padding: 7px;
    transition: 1s all;

}

.icon4 a:hover i {
    color: #b19777;
    transition: 0.5s all;
}

.icon4 a:hover {
    border: 1px solid #b19777;
    transition: 0.5s all;
}

.log {
    padding-right: 0px;

}

.lmnu h6 {
    font-size: 14px;
    color: #b19777;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 30px;
}

.lmnu ul li a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    line-height: 3;
    font-size: 15px;
}

.second_item h6 {
    font-size: 14px;
    color: #b19777;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
    padding: 10px;

}

.second_item p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #888;
    font-weight: 600;
    line-height: 2;
}

.second_footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.second_footer p {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #888;
    font-weight: 400;
    line-height: 2;
}


/* buttun hover fill up effect */
.fill-up-effect {
    position: relative;
    overflow: hidden;
    z-index: 4;
    color: #fff;
    padding: 10px 20px;
    background: transparent;
    display: inline-block;
    margin-top: 20px;
    transition: color 500ms;
    border: 2px solid #fff;
}

.fill-up-effect::before {
    position: absolute;
    bottom: 120%;
    right: -25%;
    width: 150%;
    height: 150%;
    content: ' ';
    display: block;
    background-color: #fff;
    color: #b19777;
    transition: bottom 0.7s;
    animation: 400ms linear infinite fillUp;
    z-index: -1;
}

.fill-up-effect::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    display: block;
    background-color: transparent;
    z-index: -2;
}

.fill-up-effect:hover::before {
    bottom: -25%;
    animation-play-state: running;
}

@keyframes fillUp {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(6deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    75% {
        transform: rotateZ(-6deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

/* buttun hover fill up effect end */





@media screen and (max-width: 1250px) {
}

@media screen and (max-width: 1170px) {}

@media screen and  (max-width: 1000px) {
    .first_footer {
        display: flex;
        flex-direction: column ;
    }
    .first_item {
        width: 100%;
    }
    
    .second_item {
        width: 100%;
   
    }
    .second_item p {
        font-size: 13px;
       
    }
    .second_item h6 {
        font-size: 12px;
        padding-top: 10px;
    }
    .second_footer p {
        font-size: 13px;
    }
    .second_footer {
      align-items: center;
        flex-flow: column nowrap;
    
     
    }
    .pctx {
        width: 80%;
        height: 400px;
        margin: 50px auto;
    
    }
    .part_tt2 {
        display: flex;
        justify-content: center;
        flex-flow: column;
    
    }
    .part_tt2 .tx {
    width: 90%;
    padding: 40px 30px;
    top:85%;
}
.foot_cont {
    padding: 0 20px;
}
.second_footer {
    padding: 30px 0;
}
    
}


@media screen and (max-width: 980px) {
    .navbar {
        display: none;
    }

    nav .container_1 .row {
        padding: 0;
    }


    .mobile_btn {
        display: block;
    }
    .box {
        
        width: 50%;
    }

    .sec8 {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 150px;
        position: relative;
    
    }
    
    .left_part {
        background-image: url();
        background-color: #F8F4F3;
        width: 100%;
    }
    
    .right_part {
        width: 100%;
    
    }
    .form {
        position: relative;
        left: 20px;
        top: 150px;
        width: 450px;
        height: 70%;
    }
    .sec8 .left_part { 
        height: 1000px;
    }

}

@media screen and  (max-width: 870px) {
    .boxes {
        flex-wrap: wrap;
    }

    .box {
        width: 50%;
    }

    .sec4 .circules {
        flex-wrap: wrap;
    }

    .sec6 .pictures {
        width: 50vw;
    }

    section.first {
        flex-wrap: wrap;
        justify-content: start;
        padding-right: 30px;
        padding-left: 30px;
    }

    .cont_part {
        min-width: 80vw;
    }
    .img_part {
        min-width: 80vw;
        width: 100%;
      
    }
    .sec3 .galerry .picture {
        width:  calc((100% - 60px)/1);
    }
}
@media screen and (max-width: 650px) {
    .sec5 .texts {
        flex-direction: column;
        justify-content:center;
    
    }
  
}
@media screen and (max-width: 450px) {
    .form {
        min-width: 200px;
       width: 90vw;
       left: 10px;
       /* top: 150px; */
    }
    .box {
        width: 100%;
    }
}




@keyframes example {
    0% {
        left: 50%;
        top: 0;
    }

    100% {
        left: 50%;
        top: 44%;
    }
}

@keyframes example1 {
    0% {
        left: 0;
        top: 50%;
    }

    100% {
        left: 46%;
        top: 50%;
    }
}